<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{ title }}" [options]="false">
      <form novalidate [formGroup]="formData">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="order_number">Nº Ordem</label>
              <input id="order_number" type="text" class="form-control form-control-sm" formControlName="order_number"
                autofocus />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="order_date_fmt">Data</label>
              <input id="order_date_fmt" name="order_date_fmt" type="text" class="form-control form-control-sm"
                formControlName="order_date_fmt" [textMask]="{mask: MASKS.data.textMask}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="customer_id">Cliente</label>
              <select name="customer_id" id="customer_id" class="form-control form-control-sm"
                formControlName="customer_id">
                <option value="">Selecione</option>
                <option [value]="customer.id" *ngFor="let customer of customers | async">{{ customer.name }}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="support_id">Técnico</label>
              <select name="support_id" id="support_id" class="form-control form-control-sm"
                formControlName="support_id">
                <option value="">Selecione</option>
                <option [value]="support.id" *ngFor="let support of supports | async">{{ support.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="problem_description">Problema</label>
              <textarea id="problem_description" type="text" class="form-control form-control-sm" rows="3"
                formControlName="problem_description"> </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="solution_description">Solução</label>
              <textarea id="solution_description" type="text" class="form-control form-control-sm" rows="3"
                formControlName="solution_description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="warranty_date">Garantia</label>
              <input id="warranty_date" name="warranty_date" type="text" class="form-control form-control-sm"
                formControlName="warranty_date_fmt" [textMask]="{mask: MASKS.data.textMask}" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="review_date_fmt">Revisão</label>
              <input id="review_date_fmt" name="review_date_fmt" type="text" class="form-control form-control-sm"
                formControlName="review_date_fmt" [textMask]="{mask: MASKS.data.textMask}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="parts_value">Custo</label>
              <input id="parts_value" type="text" class="form-control form-control-sm" formControlName="parts_value"
                currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (blur)="onCalculate()" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="labor_value">Mão de Obra</label>
              <input id="labor_value" type="text" class="form-control form-control-sm" formControlName="labor_value"
                currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" (blur)="onCalculate()" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="total_value">Total</label>
              <input id="total_value" type="text" class="form-control form-control-sm pr-2"
                formControlName="total_value" readonly currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
            </div>
          </div>
        </div>
        <app-button-save (outSave)="onSubmit()" (outSaveAndCreate)="onSubmitAndCreate()"
          (outSaveAndBack)="onSubmitAndBack()" (outBack)="onBack()">
        </app-button-save>
      </form>
    </app-card>
  </div>
</div>
