<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/auth/auth-logo-dark.png" alt="" class="logo img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Fazer login?</h4>
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">
              <div class="form-group mb-3">
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email">
              </div>
              <div class="form-group mb-4">
                <input type="password" id="password" class="form-control" formControlName="password"
                  placeholder="Senha">
              </div>
              <div class="custom-control custom-checkbox text-left mb-4 mt-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="rememberMe"
                  (change)="onRememberMe();">
                <label class="custom-control-label" for="customCheck1">Lembrar me?</label>
              </div>
              <button type="submit" class="btn btn-block btn-primary mb-4">Logar</button>
              <p class="mb-2 text-muted">Esqueci minha senha? <a [routerLink]="['/auth/reset-password']"
                  class="f-w-400">Resetar senha</a></p>
              <p class="mb-0 text-muted">Não tenho uma conta? <a [routerLink]="['/auth/signup']" class="f-w-400">Criar
                  conta</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
